# Add stuff to be ignored here. It can ignore folders as : folder/*
# http://gitready.com/beginner/2009/01/19/ignoring-files.html
# https://help.github.com/articles/ignoring-files

# Ignore folders from the CodeIgniter library
application/
system/
user_guide/

# Ignore .DS_Store (APPLEBAJS!)
.DS_Store

